@use './variables'as*;


@mixin tablet {
    @media screen and (min-width: 768px){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1280px) {
        @content; 
    }
}

@mixin button {
    background-color: $font-color;
    color: $main-background;
    border-radius: 15px;
    height: 0.8rem;
    width: 5rem;
    margin-top: 1rem;
    font-weight: bold;
    color: $main-background;
    cursor: pointer;
}