@use '../../styles/partials/variables'as *;
@use '../../styles/partials/mixins'as *;
.explore {
    background-color: $main-background;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__title {
        display: flex;
        justify-content: center;
        padding: 0.5rem;
    }
    &__park {
        display: flex;
        // justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        // height: 100%;
        // width: 100%;
    }
}

.random {
    background-color: white;
    width: 8rem;
    height: 20%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 
    0px 54px 55px, rgba(0, 0, 0, 0.12) 
    0px -12px 30px, rgba(0, 0, 0, 0.12) 
    0px 4px 6px, rgba(0, 0, 0, 0.17) 
    0px 12px 13px, rgba(0, 0, 0, 0.09) 
    0px -3px 5px;

    &__park-name {
        font-size: 0.8rem;
    }

    &__image {
        width: 100%;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    }
    &__info {
        font-size: 0.5rem;
    }
}


// .search {
//     display: flex;
//     justify-content: center;
//     background-color: yellow;
//     &__input {
//         top: 0;
//         margin-bottom: 60px; 
//         background-color: green;
//     }
// }
.random__image:hover {
    transform: scale(1);
    @include tablet {
    // position:relative;
    transition: 0.5s;
    height:auto;
    display:flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.6);
    }
}
