@use '../../styles/partials/mixins'as *;
@use '../../styles/partials/variables'as *;

body {
    height: 5rem;
    width: 100%;
    
}

.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: darkcyan;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
}

a {
  display: flex;
  align-items: center;
  // padding: 10px 40px;
  text-decoration: none;
  color: $green-color;
  // text-transform: uppercase;
  font-weight: bold;
  // transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header {
    border-bottom: 2px solid $font-color;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &__nav {
        display: none;
        @include tablet {
            display: flex; 
        }
       
        &--option {
            font-size: 0.4rem;
            width: 4rem;
            display: flex;
            align-items: center;
        }
    }
}
