@use '../styles/partials/fonts'as *;
@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    background-color: $main-background;
    font-size: 3rem;
    
}
body {
    font-family: 'cuprum', 'verdana';
    
}

.main {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;
    // margin-top: 3rem;
}

